In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Import Data

In [11]:
aug_data = pd.read_csv('../raw_data/AugmentedData.csv')

In [12]:
aug_data.head()

,emotion,pixels,Usage,std_dev
0,0,6 5 3 1 1 3 9 16 30 41 46 47 48 49 51 55 58 58...,DataAug,NaN
1,0,26 26 26 27 28 29 27 24 24 25 26 27 24 20 30 4...,DataAug,NaN
2,0,81 83 83 81 77 72 63 55 43 32 23 16 12 9 5 5 6...,DataAug,NaN
3,0,100 96 91 93 105 117 110 104 94 83 81 95 109 1...,DataAug,NaN
4,0,44 44 42 42 42 42 41 40 38 41 44 46 48 48 49 4...,DataAug,NaN

In [13]:
aug_data = aug_data.drop(columns= ['std_dev'])
aug_data['Usage'] = 'Training'
aug_data.head()

   emotion                                             pixels     Usage
0        0  6 5 3 1 1 3 9 16 30 41 46 47 48 49 51 55 58 58...  Training
1        0  26 26 26 27 28 29 27 24 24 25 26 27 24 20 30 4...  Training
2        0  81 83 83 81 77 72 63 55 43 32 23 16 12 9 5 5 6...  Training
3        0  100 96 91 93 105 117 110 104 94 83 81 95 109 1...  Training
4        0  44 44 42 42 42 42 41 40 38 41 44 46 48 48 49 4...  Training

In [14]:
data = pd.read_csv('../raw_data/fer2013.csv')
data = data[data['Usage']!='PublicTest']
data.shape

(32298, 3)

In [15]:
aug_data.shape

(66517, 3)

In [16]:
data.shape

(32298, 3)

In [17]:
new_data = pd.concat([aug_data,data],ignore_index=True)
new_data.shape

(98815, 3)

In [18]:
data['emotion'].value_counts()

3    8094
6    5591
4    5424
2    4625
0    4486
5    3587
1     491
Name: emotion, dtype: int64

In [9]:
new_data.to_csv('../raw_data/fer_aug.2013.csv',index=False)