# Get the Vibe - Minor Improvements

## Import

In [1]:
# General libraries
import numpy as np
import pandas as pd

# Image related
import matplotlib.pyplot as plt 
from matplotlib import image
import os

# CNN
#import tensorflow as tf
#from tensorflow.keras import models
#from tensorflow.keras import Sequential, layers
#from tensorflow.keras.callbacks import EarlyStopping

In [45]:
!pwd

/Users/ericzic/code/JaildoR/getthevibe_api/notebooks

## Display dataset

In [3]:
data = pd.read_csv("../getthevibe_api/data/fer2013.csv")

In [4]:
data["emotion_new"] = data["emotion"].map({0: "Angry", 1: "Disgust", 2: "Fear", 3: "Happy", 4: "Sad", 5: "Surprise", 6: "Neutral"})

## Removing Disgust

In [5]:
data = data[data.emotion != 2]

In [6]:
data

,emotion,pixels,Usage,emotion_new
0,0,70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...,Training,Angry
1,0,151 150 147 155 148 133 111 140 170 174 182 15...,Training,Angry
3,4,24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...,Training,Sad
4,6,4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...,Training,Neutral
6,4,20 17 19 21 25 38 42 42 46 54 56 62 63 66 82 1...,Training,Sad
...,...,...,...,...
35881,0,181 177 176 156 178 144 136 132 122 107 131 16...,PrivateTest,Angry
35882,6,50 36 17 22 23 29 33 39 34 37 37 37 39 43 48 5...,PrivateTest,Neutral
35883,3,178 174 172 173 181 188 191 194 196 199 200 20...,PrivateTest,Happy
35884,0,17 17 16 23 28 22 19 17 25 26 20 24 31 19 27 9...,PrivateTest,Angry
35885,3,30 28 28 29 31 30 42 68 79 81 77 67 67 71 63 6...,PrivateTest,Happy

In [7]:
train_set = data[(data.Usage == 'Training')] 
val_set = data[(data.Usage == 'PublicTest')]
test_set = data[(data.Usage == 'PrivateTest')]

In [38]:
# define X_train, val, test

X_train = np.array(list(map(str.split, train_set.pixels)), np.float32) 
X_val = np.array(list(map(str.split, val_set.pixels)), np.float32) 
X_test = np.array(list(map(str.split, test_set.pixels)), np.float32) 

X_train = X_train.reshape(X_train.shape[0], 48, 48, 1) 
X_val = X_val.reshape(X_val.shape[0], 48, 48, 1)
X_test = X_test.reshape(X_test.shape[0], 48, 48, 1)

In [39]:
# Define y_train,  val, test
y_train =  train_set.emotion
y_val = val_set.emotion
y_test = test_set.emotion

In [40]:
X_train = (X_train/255) -0.5
X_val = (X_val/255) - 0.5
X_test = (X_test/255) - 0.5

In [41]:
X_train = X_train.reshape(X_train.shape[0], 48, 48) 
X_val = X_val.reshape(X_val.shape[0], 48, 48)
X_test = X_test.reshape(X_test.shape[0], 48, 48)

X_train_rgb = np.repeat(X_train[..., np.newaxis], 3, -1)
X_val_rgb = np.repeat(X_val[..., np.newaxis], 3, -1)
X_val_rgb.shape

(3093, 48, 48, 3)

In [42]:
y_train_cat = to_categorical(y_train)
y_val_cat = to_categorical(y_val)
y_test_cat = to_categorical(y_test)

y_train_cat.shape

NameError: name 'to_categorical' is not defined